@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B');

:root{
    --color-ligt-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #6d19fde3;
    --color-purple-100: #a241fdda;
    --color-purple-200: #b512f5;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#container{
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form{
    background-color: var(--color-ligt-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.329);
    height: fit-content;
    animation: dark-to-light 0.2s ease-in-out;
}

#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1{
    font-size: 35px;
    position: relative;
}

#form_header h1::before{
position: absolute;
content:'';
width: 35px;
background-color: var(--color-purple-50);
height: 3px;
bottom: 8px;
border-radius: 5px;
}

#mode_icon{
    cursor:pointer;
    font-size: 20px;
}

#social_media img{
    width: 30px;
}

#social_media img:hover {
    transform: scale(1.2);
}

#social_media {
    display: flex;
    justify-content: space-around;
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8px;
}

.input-box label{
    font-size: 14px;
    color: var(--color-dark-50);
    gap: 30px;
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}


.input-field{
font-size: 16px;
color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
outline:none;
}

#forgot_password a{
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-50)
}

#forgot_password a:hover{
    color: var(--color-purple-50);
}

#login_button{
    border: none;
    background: var(--color-purple-50) ;
    color: var(--color-ligt-50);
    padding: 7px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#login_button:hover{
    transform: scale(1.02);
}

.dark#login_form {
    color: var(--color-ligt-50);
    background: var(--color-dark-100);
    animation: light-to-dark 0.2s ease-in-out;
}

.dark#login_form .input field input, 
.dark#login_form .input field i {
    color: var(--color-ligt-50);
}

.dark #inputs .input-field input, 
.dark #inputs .input-field i {
    color: var(--color-ligt-50);
}

@keyframes dark-to-light {
    0% { 
        background-color: var(--color-dark-100);        
    }

    100% {
        background-color: var(--color-ligt-50);
    }
}

@keyframes light-to-dark{
    0% {
        background-color: var(--color-light-50);
    } 
    
    100% { 
        background-color: var(--color-dark-100);        
    }


}


